version: '3.8'

services:
  backend:
    build:
      context: ../docker
      dockerfile: backend.Dockerfile
    ports:
      - "8000:8000"
    environment:
      - ENV=development
    volumes:
      - ../backend/app:/app
    depends_on:
      - db

  frontend:
    build:
      context: ../docker
      dockerfile: frontend.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ../frontend/src:/app/src
    depends_on:
      - backend

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: investor_pack
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: